<div class="container">
	<div class="row">
		<div class="col-md-8">
			<div class="isa_success hidden">
     				<i class="fa fa-check"></i>	
				</div>

			<h1>New Blood Request</h1>

			<%= render 'form', blood_request: @blood_request %>


		</div>
	</div>
</div>

